.page {
    @include crt(100);

    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > .headerLazaro {
        order: 1;
        height: auto;
        display: none;
        flex-shrink: 0;

        font-family: var(--font-matisse-pro);
        font-weight: 100;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;

        user-select: none;

        > .left, > .right {
            height: 30%;
        }

        > .right {
            transform: scaleX(-1);
        }

        > span {
            @include crt-text;

            flex: 1;
            text-align: center;
            font-size: 1.75em;
            white-space: nowrap;
        }
    }

    > .headerEstalot {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .curtain {
            width: 120vw;
        }

        > .estalot {
            width: 80vw;
            padding: 0.5rem 0;
        }
    }

    > .navbar {
        order: 3;
        height: 80px;

        background-color: var(--color-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;

        > .ribbon {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            button {
                width: 4.5em;
                white-space: nowrap;
                flex: 1;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: min(0.5em, 0.508vw);

                font-family: var(--font-fragment-mono);
                font-size: max(0.8em, min(1.2em, 1.22vw));
                text-transform: uppercase;
                color: var(--color-primary);

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                }

                &.selected {
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                }

                svg {
                    width: 2em;
                    height: 90%;
                }

                > span {
                    display: none;
                }
            }
        }

        > .title {
            background-color: var(--color-primary);
            color: var(--color-secondary);
            width: 100%;
            font-family: var(--font-fragment-mono);
            text-align: center;
            text-transform: uppercase;
        }

        > img {
            display: none;
            font-size: 1.2em;
            height: 2.2em;
        }
    }

    > .content {
        position: relative;
        order: 4;

        overflow: hidden;
        display: flex;
        justify-content: start;

        > .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: 28vh;
            overflow: hidden;
            flex-shrink: 0;
            user-select: none;
        
            .curtain {
                height: 100vh;
            }
        
            .estalot {
                flex: 1;
                height: 90%;
            }
        }

        > .content2 {
            flex: 1;
            display: flex;
            justify-content: center;
            padding-right: calc(28vh - (1920px - 100vw));
        }
    }
}

@media (max-width: 1470px) {
    .page {
        > .content {
            > .left {
                display: none;
            }
            > .content2 {
                padding-right: 0;
            }
        }
    }
}

@include when-tablet {
    .page {
        --border-width: 0.675rem;
        
        .headerLazaro {
            display: flex;

            > span {
                font-size: min(3.5em, 4.5vw);
            }
        }

        > .headerEstalot {
            display: none;
        }

        .navbar {
            padding: 0 1rem;
            flex-direction: row;
            border-bottom: var(--border-width) solid var(--color-primary);
            min-height: 64px;

            > .aeLogo {
                display: none;
            }

            > .ribbon {
                gap: 1rem;
                padding: 1rem 0;

                button {
                    border: 0.15em solid var(--color-primary);
                    padding: 0.25em 1.5em;
                    height: 2.2em;
                    max-width: 15em;
                    flex: 1;

                    > span {
                        display: inline;
                    }
                }
            }

            > .title {
                display: none;
            }
        }
    }
}

@include when-desktop {
    .page {
        .navbar {
            gap: 5rem;

            > .aeLogo {
                display: block;
            }
        }
    }
}

@include when-phone-landscape {
    .page {
        > .headerLazaro {
            display: flex;
        }

        > .headerEstalot {
            display: none;
        }

        > .left {
            display: none;
        }

        > .navbar {
            height: auto;

            > .ribbon {
                button {
                    height: 32px;
                    padding: 0.25em;
                    max-width: 15em;
                    flex: 1;
                    border-bottom: var(--border-width) solid var(--color-primary);
    
                    > span {
                        display: inline;
                    }

                    &:not(&:last-child) {
                        border-right: 1px solid var(--color-primary);
                    }
                }
            }

            > .title {
                display: none;
            }
        }
    }
}

//@media (min-width: 1450px) {
//    .page {
//        .headerLazaro {
//            .navbar {
//                button {
//                    padding: 0.25em 1.5em;
//                    font-size: 1.2em;
//                }
//            }
//        }
//    }
//}