.page {
    @include crt(100);

    background-color: var(--color-about-primary);
    color: var(--color-about-secondary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: "lef hea" auto
                   "lef con" 1fr / 24vh 1fr;

    > .left {
        grid-area: lef;
        display: flex;
        flex-direction: row;
        align-items: center;

        .curtain {
            height: 100vh;
        }

        .estalot {
            height: 80vh;
        }
    }

    > .header {
        grid-area: hea;
        border-bottom: 0.5rem solid var(--color-about-primary);
        font-family: var(--font-matisse-pro);
        font-weight: 100;
        display: flex;
        flex-direction: column;
        user-select: none;

        > .title {
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1em;

            > .left, > .right {
                height: 30%;
            }

            > .right {
                transform: scaleX(-1);
            }

            > span {
                @include crt-text;

                flex: 1;
                text-align: center;
                font-size: 2.5em;
                white-space: nowrap;
            }
        }

        > .navbar {
            background-color: var(--color-about-secondary);
            min-height: 64px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 1rem;
            gap: 5em;

            button {
                border: 0.15em solid var(--color-about-primary);
                padding: 0.25em 1.5em;
                height: 2.2em;
                max-width: 15em;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: min(0.5em, 0.508vw);

                font-family: var(--font-fragment-mono);
                font-size: max(0.8em, min(1.2em, 1.22vw));
                text-transform: uppercase;
                color: var(--color-about-primary);

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-about-primary);
                    color: var(--color-about-secondary);
                }

                &.selected {
                    background-color: var(--color-about-primary);
                    color: var(--color-about-secondary);
                }

                svg {
                    width: 2em;
                    height: 90%;
                }
            }

            > .ribbon {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                padding: 1rem 0;

                button {
                    flex: 1;
                    white-space: nowrap;
                }
            }

            > img {
                font-size: 1.2em;
                height: 2.2em;
            }
        }
    }

    > .content {
        grid-area: con;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}

//@media (min-width: 1450px) {
//    .page {
//        .header {
//            .navbar {
//                button {
//                    padding: 0.25em 1.5em;
//                    font-size: 1.2em;
//                }
//            }
//        }
//    }
//}