.page {
    --border-width: 0.4rem;
    --border-half-width: calc(var(--border-width) / 2);
    --border-quarter-width: calc(var(--border-half-width) / 2);

    @include crt(100);

    background-color: var(--color-about-primary);
    color: var(--color-about-secondary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-template: "lef hea" auto
                   "lef nav" auto
                   "lef con" 1fr / 24vh 1fr;

    > .left {
        grid-area: lef;
        order: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 28vw;
        width: 100%;

        .curtain {
            width: 100vw;
        }

        .estalot {
            flex: 1;
            width: 80vw;
        }
    }

    > .header {
        grid-area: hea;
        order: 1;
        display: none;

        font-family: var(--font-matisse-pro);
        font-weight: 100;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;

        user-select: none;

        > .left, > .right {
            height: 30%;
        }

        > .right {
            transform: scaleX(-1);
        }

        > span {
            @include crt-text;

            flex: 1;
            text-align: center;
            font-size: 1.75em;
            white-space: nowrap;
        }
    }

    > .navbar {
        grid-area: nav;
        order: 3;

        background-color: var(--color-about-secondary);
        min-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        > .ribbon {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            button {
                width: 4.5em;
                white-space: nowrap;
                flex: 1;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: min(0.5em, 0.508vw);

                font-family: var(--font-fragment-mono);
                font-size: max(0.8em, min(1.2em, 1.22vw));
                text-transform: uppercase;
                color: var(--color-about-primary);

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-about-primary);
                    color: var(--color-about-secondary);
                }

                &.selected {
                    background-color: var(--color-about-primary);
                    color: var(--color-about-secondary);
                }

                svg {
                    width: 2em;
                    height: 90%;
                }

                > span {
                    display: none;
                }
            }
        }

        > .title {
            background-color: var(--color-about-primary);
            color: var(--color-about-secondary);
            width: 100%;
            font-family: var(--font-fragment-mono);
            text-align: center;
            text-transform: uppercase;
        }

        > img {
            display: none;
            font-size: 1.2em;
            height: 2.2em;
        }
    }

    > .content {
        grid-area: con;
        order: 4;
        flex: 1;

        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}

@include when-tablet {
    .page {
        --border-width: 0.675rem;

        display: grid;

        .left {
            flex-direction: row;
            transform: none;
            height: 100vh;
            align-items: center;

            .curtain {
                width: unset;
                height: 100vh;
            }
    
            .estalot {
                width: unset;
                height: 80vh;
            }
        }
        
        .header {
            display: flex;

            > span {
                font-size: 2.5em;
            }
        }

        .navbar {
            padding: 0 1rem;
            flex-direction: row;
            border-bottom: var(--border-width) solid var(--color-about-primary);
            min-height: 64px;

            > img {
                display: block;
            }

            > .ribbon {
                gap: 1rem;
                padding: 1rem 0;

                button {
                    border: 0.15em solid var(--color-about-primary);
                    padding: 0.25em 1.5em;
                    height: 2.2em;
                    max-width: 15em;
                    flex: 1;

                    > span {
                        display: inline;
                    }
                }
            }

            > .title {
                display: none;
            }
        }
    }
}

@include when-desktop {
    .page {
        .navbar {
            gap: 5rem;
        }
    }
}

@include when-phone-landscape {
    .page {
        > .header {
            display: flex;
        }

        > .left {
            display: none;
        }

        > .navbar {
            min-height: 32px;

            > .ribbon {
                button {
                    height: 32px;
                    padding: 0.25em;
                    max-width: 15em;
                    flex: 1;
                    border-bottom: var(--border-width) solid var(--color-about-primary);
    
                    > span {
                        display: inline;
                    }

                    &:not(&:last-child) {
                        border-right: 1px solid var(--color-about-primary);
                    }
                }
            }

            > .title {
                display: none;
            }
        }
    }
}

//@media (min-width: 1450px) {
//    .page {
//        .header {
//            .navbar {
//                button {
//                    padding: 0.25em 1.5em;
//                    font-size: 1.2em;
//                }
//            }
//        }
//    }
//}