.section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.9rem;
    user-select: none;
    background-color: var(--color-about-secondary);
    color: var(--color-about-primary);

    .scrollbar {
        display: block;
        background-color: var(--color-about-primary);
        transition: padding 0.33s;
        padding: 0 0 0 var(--border-width);

        &:hover {
            .thumb {
                background-color: var(--color-primary);
                transition: background-color 1s;
            }
        }

        .thumb {
            background-color: var(--color-about-secondary);
            border-radius: 0;
        }
    }
}

.sectionContent {
    position: relative;
    width: 100%;
    height: 100%;

    .bgGrid {
        position: absolute;
        opacity: 0.6;
        top: -15.5vw;
        width: 100%;
    }

    > :not(.bg) {
        position: relative;
        z-index: 10;
    }

    > .g2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        > .left {
            flex: 1;
        }

        > .right {
            flex: 1;
        }
    }
}

@include when-tablet {
    .section {
        max-width: 75rem;
        font-size: 1rem;

        .scrollbar {
            padding: 0 1.98em;
            
            &:hover {
                padding: 0 var(--border-width);
            }
        }
    }
}

@include when-desktop {
    .sectionContent {
        > .g2 {
            flex-direction: row;
        }
    }
}

.sectionContent.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;

    > .aracneIntro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: -0.55rem;
        margin-bottom: 2rem;

        > .portrait {
            position: relative;
            aspect-ratio: 1 / 1;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            border: var(--border-width) solid var(--color-about-primary);
            overflow: hidden;

            &:hover, &:active {
                .alt:global {
                    animation: flicker-in 0.45s forwards;
                }
            }

            > .regular, .alt {
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }

            .alt {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        > .sorry {
            width: 100%;
            padding: 0 0.5rem;
            max-width: 43.7rem;
            object-fit: contain;

            :global {
                animation: glitch-move-sometimes 24s infinite;
            }
        }
    }

    > .artistDesigner {
        width: 100%;
        background-color: var(--color-about-secondary);
        
        > img {
            display: block;
            width: 100%;
        }
        
        > .tablet {
            display: none;
        }
    }

    > .bio {
        width: 95%;
        gap: 1rem;

        > .left {
            order: 2;
            flex-shrink: 0;

            .txtContainer {
                width: 100%;
                font-family: var(--font-fragment-mono);
                padding: 0 1.5em;

                strong {
                    font-weight: unset;
                    color: var(--color-primary);
                }
            }
        }

        > .right {
            order: 1;
            position: relative;
            background-size: cover;
            box-sizing: border-box;
            display: none;

            > img {
                position: absolute;
                height: calc(100% + 76px);
                left: 2rem;
                bottom: 0;
            }
        }
    }

    > .collage1 {
        width: 95%;
        gap: 1rem;

        > .left {
            flex: 1.25;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > .likes {
                display: none;
            }

            > .skillWindow {
                width: 100%;

                .featureContainer {
                    flex-wrap: wrap;
                }
            }

            > .socialMediaContainer {
                display: flex;
                width: 100%;
                gap: 1rem;
                align-items: start;

                > .skillWindow {
                    flex: 1;
                }

                .featureContainer {
                    flex-wrap: wrap;
                }

                .ornaments {                    
                    width: 100px;
                    height: 100%;
                    flex-shrink: 0;
                    display: none;
                    align-items: center;
                    margin-right: -0.5rem;

                    > img {
                        width: 100%;
                    }
                }
            }
        }

        > .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .contactMe {
                flex: 1;

                a {
                    width: 100%;
                    height: 100%;
                    min-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: var(--font-fragment-mono);
                    text-transform: uppercase;
                    font-size: 1.3em;

                    &:hover {
                        :global {
                            animation: glitch-move-sometimes 24s infinite;
                        }
                        color: white;

                        > span {
                            @include neon-glow-secondary;
                        }
                    }
                }
            }
            > .photo2 {
                //flex: 1;
                position: relative;
                background-size: cover;
                box-sizing: border-box;
                height: 600px;
                width: 100%;
                max-width: 500px;

                > svg {
                    position: absolute;
                    width: 60%;
                    bottom: 42%;
                    left: 10%;
                    fill: white;
                    @include neon-glow-primary(2rem);
                    
                    :global {
                        animation: almost-white 12s infinite;
                    }
                }
    
                > img {
                    position: absolute;
                    height: calc(100% + 56px);
                    max-width: 100%;
                    object-fit: contain;
                    object-position: center bottom;
                    right: -1rem;
                    bottom: 0;
                    pointer-events: none;
                }
            }
        }
    }

    > .damnYourEyes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        
        > .wordTableWindow {
            width: 100%;
            aspect-ratio: 460 / 469;

            .wordTableContainer {
                aspect-ratio: 460 / 469;
                width: 90%;
                z-index: 100;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                position: relative;
                //border: var(--border-width) solid var(--color-about-secondary);
        
                > div {
                    width: 100%;
                    height: 100%;
                    filter: brightness(0.6) sepia(100%) saturate(60%) hue-rotate(0deg);
                }
            }
        }
    }

    > .jpBigContainer {
        position: relative;
        width: 95%;
        border: var(--border-half-width) solid var(--color-about-primary);

        > .frame {
            width: 100%;
            border: var(--border-half-width) solid var(--color-about-secondary);
            background-color: var(--color-about-primary);
            text-align: center;
            text-wrap: nowrap;
            padding-left: 0.6em;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            //max-width: 50vw;

            > span {
                line-height: 1.1em;
                font-size: min(5.9363vw, 4.9rem);
                font-weight: 500;
                color: var(--color-about-secondary);
                //letter-spacing: 0.1em;

                &:hover {
                    @include crt-text;
                    color: var(--color-primary);
                }
            }

            > svg {
                padding: 0.5em 0;
                color: var(--color-about-secondary);
                width: calc(100% / 11);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
    
    > .footer {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        > .planetContainer {
            position: relative;
            height: 180px;
            max-width: 100%;
            border: var(--border-half-width) solid var(--color-about-primary);

            > .corner {
                $size: 1.25rem;
                $offset: 0.55rem;

                position: absolute;
                width: $size;
                height: $size;

                &:nth-child(1) {
                    top: $offset;
                    left: $offset;
                }
                &:nth-child(2) {
                    top: $offset;
                    right: $offset;
                }
                &:nth-child(3) {
                    bottom: $offset;
                    right: $offset;
                }
                &:nth-child(4) {
                    bottom: $offset;
                    left: $offset;
                }
            }

            > .content {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                > .planet {
                    fill: none;
                    stroke-width: 1.8em;
                    height: 90px;
                    max-width: 25%;
                    //visibility: hidden;
                    
                    &:nth-child(1) {
                        stroke: var(--color-about-primary);
                    }
                    
                    &:nth-child(2) {
                        stroke: var(--color-primary);
                    }
    
                    &:nth-child(3) {
                        stroke: var(--color-secondary);
                    }

                    &:global {
                        animation: shortGlitch 0.05s linear forwards;
                    }
                }
            }
        }
        
        > .ornaments {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: end;
            align-items: start;

            > img {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                max-width: 100%;
            }

            > a {
                position: relative;
                top: -0.3em;
                width: auto;
                font-family: var(--font-fragment-mono);
                font-size: 1.4em;

                strong {
                    @include crt-text-border;
                    color: var(--color-secondary);
                }

                &:hover {
                    strong {
                        @include neon-glow-secondary;
                        color: white;
                    }
                }
            }
        }
    }
}

@include when-tablet {
    .sectionContent.aboutMe {
        > .aracneIntro {
            > .portrait {
                width: 240px;
                height: 240px;
            }
        }

        > .artistDesigner {
            > .phone {
                display: none;
            }

            > .tablet {
                display: block;
            }
        }

        > .collage1 {
            > .left {
                flex-direction: row;

                > .likes {
                    display: flex;
                }

                > .socialMediaContainer {
                    > .skillWindow {
                        height: 100%;

                        .featureContainer {
                            height: 100%;
                        }
                    }
                }
            }

            > .right {
                flex-direction: row;
            }
        }

        > .damnYourEyes {
            padding: 3rem 0;

            > .wordTableWindow {
                width: 82.6%;
            }
        }
    }
}

@include when-desktop {
    .sectionContent.aboutMe {
        > .bio {
            > .right {
                display: block;
            }
        }

        > .collage1 {
            > .left {
                flex-direction: column;

                > .socialMediaContainer {
                    .ornaments {
                        display: flex;
                    }
                }
            }

            > .right {
                flex-direction: column;
                align-items: unset;
            }
        }

        > .footer {
            flex-direction: row;

            > .planetContainer {
                width: 55%;
            }

            > .ornaments {
                flex: 1;
                width: 55%;
            }
        }
    }
}

.sectionContent.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 1%;

    > .firstRow {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        > .left {
            flex: 45;
            width: 100px;
            object-fit: contain;
            padding-left: 1rem;
        }

        > .right {
            flex: 55;
            width: 100px;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: end;

            > div {
                width: 90%;
            }
        }
    }

    > .eva1 {
        width: 100%;
    }

    > .firstVidContainer {
        width: 100%;
        display: flex;
        flex-direction: row;

        > .vid {
            flex: 58;
        }

        > .image {
            flex: 42;
            background-color: var(--color-about-primary);
            display: flex;
            align-items: center;
            padding: var(--border-half-width);

            > img {
                width: 100%;
            }
        }
    }

    > .secondVidContainer {
        width: 100%;
        display: flex;
        flex-direction: row;

        > .videox3 {
            position: relative;
            flex: 60;
            display: flex;
            align-items: center;
            padding: var(--border-half-width);

            > img {
                width: 100%;
            }

            > .word1, > .word2, > .word3 {
                width: 100%;
                position: absolute;
                left: 0;
            }

            > .word1 {
                stroke: none;
                fill: var(--color-about-primary);
            }

            > .word2, > .word3 {
                stroke: var(--color-about-primary);
                stroke-width: 2rem;
                fill: var(--color-about-secondary);
            }
            
            > .word1 {
                opacity: 0.4;
                top: 0%;
                z-index: 1;
            }
            
            > .word2 {
                opacity: 0.7;
                top: 25%;
                z-index: 2;
            }
            
            > .word3 {
                top: 50%;
                z-index: 3;
            }
        }

        > .vid {
            flex: 40;
        }
    }

    > .guapisima {
        width: 100%;
        display: flex;
        flex-direction: row;

        > .left {
            flex: 43;
            background-color: #FCE4F2;
        }

        > .right {
            aspect-ratio: 904 / 790;
            position: relative;
            flex: 57;
            background-size: contain;

            > img {
                display: block;
                position: absolute;
                width: 98%;
                bottom: -1px;
                right: 0px;
            }
        }
    }

    > .photo1 {
        width: 100%;
        height: 604px;
        display: flex;
        flex-direction: row;

        .left {
            flex: 46;

            > img {
                width: 100%;
                object-fit: cover;
            }
        }

        .right {
            flex: 54;
            background-color: var(--color-about-primary);
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 1rem;

            > div {
                height: 120%;

                img:nth-child(3) {
                    filter: sepia(100%)
                        saturate(1000%)
                        brightness(80%)
                        hue-rotate(295deg)
                        blur(4px);
                }

                img:nth-child(4) {
                    filter: sepia(100%)
                        saturate(1000%)
                        brightness(80%)
                        hue-rotate(190deg)
                        blur(4px);
                }
            }
        }
    }

    > .logos {
        position: relative;
        width: 100%;
        height: 340px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: var(--border-half-width) solid var(--color-about-primary);
        justify-content: space-around;

        > .ornament1, > .ornament2, > .ornament3, > .ornament4 {
            width: 30%;
            position: absolute;
            z-index: -1;
        }

        > .ornament1 {
            top: 0;
            left: 0;
        }

        > .ornament2 {
            bottom: 0;
            left: 0;
        }

        > .ornament3 {
            top: 0;
            right: 0;
        }

        > .ornament4 {
            bottom: 0;
            right: 0;
        }

        > .logo {
            width: 24%;
            margin-top: 2rem;
        }

        > .morgueContainer {
            width: 45%;
            height: 100%;
            background-color: var(--color-about-primary);
            border-radius: 3.5rem;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.featureCell {
    $border-radius: 0.75rem;

    position: relative;
    display: flex;
    flex-direction: column;
    border: var(--border-quarter-width) solid var(--color-about-primary);
    border-radius: $border-radius;
    width: 7.7rem;

    > .iconContainer {
        background-color: var(--color-about-primary);
        width: 100%;
        height: 90px;
        padding: 1rem;
        border-top-left-radius: $border-radius * 0.6;
        border-top-right-radius: $border-radius * 0.6;

        svg {
            height: 100%;
            width: 100%;
            fill: var(--color-about-secondary);
        }
    }

    > .name {
        height: 100%;
        color: var(--color-about-primary);
        font-family: var(--font-fragment-mono);
        text-transform: uppercase;
        padding: 0.35rem 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        > span {
            font-size: 0.75rem;
        }

        > svg {
            flex-shrink: 0;
            animation: svgNeonFlicker 16s infinite;
            height: 1.5rem;
            fill: var(--color-primary);
            stroke: var(--color-about-primary);
            stroke-width: 1rem;
        }
    }

    > .bloodyBorder {
        fill: var(--color-about-secondary);
        stroke: var(--color-about-primary);
        stroke-width: 1.2rem;
        position: absolute;
        bottom: -18px;
        right: 7px;
        width: 28px;
    }
            
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) > .name > svg {
            animation-delay: #{-800 + (random(1600) / 100)}s;
        }
    }
}

.skillWindow {
    width: 100%;

    .artContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: var(--color-about-secondary);
        gap: 2rem;
        justify-content: center;
        padding: 1.5rem 1rem;
    }

    .featureContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: var(--color-about-secondary);
        gap: 1rem;
        justify-content: center;
        padding: 0.5rem 0.5rem;
    }
}

.artSkill {
    display: flex;
    flex-direction: column;
    width: 11rem;
    z-index: 100;
    border: var(--border-quarter-width) solid var(--color-about-primary);

    > .nameContainer {
        color: var(--color-about-primary);

        > span {
            font-family: var(--font-fragment-mono);
            display: block;
            text-transform: uppercase;
            text-align: center;
            padding: 0.25em 0;
            font-weight: 800;
        }
    }

    > .iconContainer {
        background-color: var(--color-about-primary);
        height: 7rem;
        padding: 0.8rem;

        > svg {
            height: 100%;
            width: 100%;
            stroke: var(--color-about-secondary);
        }
    }

    &:hover {
        > .nameContainer {
            > span {
                :global {
                    animation: shortGlitch 0.05s linear forwards;
                }

                color: var(--color-primary);
            }
        }

        svg {
            :global {
                animation: drawBorder 1.4s linear forwards;
            }

            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            //color: var(--color-primary);
            //stroke: var(--color-primary);
            color: white;
            stroke: white;
            @include neon-glow-primary;
        }
    }

    &.comicArtist, &.tattooDesign {
        &:hover svg {
            stroke-dasharray: 3600;
            stroke-dashoffset: 3600;
        }
    }

    &.videoCreator {
        > .iconContainer {
            padding: 1.5rem;

            > svg {
                stroke-width: 0.65rem;
            }
        }

        &:hover svg {
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
        }
    }

    &.videoEditor {
        > .iconContainer {
            > svg {
                stroke-width: 0.65rem;
            }
        }

        &:hover svg {
            stroke-dasharray: 4000;
            stroke-dashoffset: 4000;
        }
    }

    &._2dAnimation {
        > .iconContainer {
            > svg {
                stroke-width: 0.65rem;

                path:not(:nth-child(4)), circle {
                    //fill: var(--color-about-secondary);
                }
            }
        }

        &:hover svg {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;

            path:not(:nth-child(4)), circle {
                //fill: var(--color-primary);
            }
        }
    }
}

@include when-tablet {
    .section.aboutMe {
        > .aracneIntro {
            > .portrait {
            }
        }

        > .wordTableWindow {
            width: 80%;
    
            .wordTableContainer {
                width: 90%;
            }
        }
    }
}

@keyframes svgNeonFlicker {
    0%, 31.69% {
        fill: var(--color-primary);
    }
    31.7%, 31.89% {
        fill: var(--color-secondary);
    }
    31.9%, 32.09% {
        fill: var(--color-primary);
    }
    32.1%, 32.19% {
        fill: var(--color-secondary);
    }
    32.2%, 32.39% {
        fill: var(--color-primary);
    }
    32.4%, 40.99% {
        fill: var(--color-secondary);
    }
    41%, 72.99% {
        fill: var(--color-primary);
    }
    73%, 73.49% {
        fill: var(--color-secondary);
    }
    73.5%, 100% {
        fill: var(--color-primary);
    }
}
