:global(glitch-hover) {}

.section {
    position: relative;
    max-width: 72rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
    user-select: none;
    background-color: var(--color-about-secondary);
    color: var(--color-about-primary);

    > :not(.bg) {
        position: relative;
        z-index: 10;
    }

    .bgGrid {
        position: absolute;
        opacity: 0.6;
        top: -15.5vw;
        width: 100%;
    }

    > .sectionContent {
        width: 100%;
        height: 100%;
    }

    .scrollbar {
        display: block;
        background-color: var(--color-about-primary);
        padding: 0 1.98em;
        transition: padding 0.33s;

        &:hover {
            padding: 0 var(--border-width);
        }

        .thumb {
            background-color: var(--color-about-secondary);
            border-radius: 0;
        }
    }
}

.sectionContent.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;

    > .aracneIntro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: -0.55rem;
        margin-bottom: 2rem;

        > .portrait {
            position: relative;
            aspect-ratio: 1 / 1;
            width: 240px;
            height: 240px;
            border-radius: 50%;
            border: var(--border-width) solid var(--color-about-primary);
            overflow: hidden;

            &:hover, &:active {
                .alt:global {
                    animation: flicker-in 0.45s forwards;
                }
            }

            > .regular, .alt {
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }

            .alt {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        > .sorry {
            width: 100%;
            max-width: 43.7rem;
            object-fit: contain;

            :global {
                animation: glitch-move-sometimes 24s infinite;
            }
        }
    }

    > .wordTableWindow {
        width: 95%;
        aspect-ratio: 460 / 469;

        .wordTableContainer {
            aspect-ratio: 460 / 469;
            width: 90%;
            z-index: 100;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            position: relative;
            //border: var(--border-width) solid var(--color-about-secondary);
    
            > div {
                width: 100%;
                height: 100%;
                filter: brightness(0.6) sepia(100%) saturate(60%) hue-rotate(0deg);
            }
        }
    }

    > .socialMediaWindow {
        width: 95%;

        .ribbon {
            background-color: var(--color-about-secondary);
            border: var(--border-half-width) solid var(--color-about-primary);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            padding: 1rem;
        }
    }

    > .cutTheShapesContainer {
        width: 90%;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;

        .cutTheShapesWindow {
            width: 70%;
            height: 640px;

            .cutTheShapesFrame {
                padding: 1rem;
            }

            .cutTheShapes {
                height: 100%;
                justify-content: start;

                :global {
                    animation: irregularBlur 30s infinite;
                }

                &:hover, &:active {
                    :global {
                        animation: blurToPop 60s forwards;
                    }
                }

                img {
                    object-position: left center;
                }
            }
        }

        > .shapeContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            max-width: 210px;

            > img {
                width: 100%;
            }
        }
    }

    > .jpBigContainer {
        position: relative;
        width: 90%;
        border: var(--border-half-width) solid var(--color-about-primary);

        > .frame {
            width: 100%;
            border: var(--border-half-width) solid var(--color-about-secondary);
            background-color: var(--color-about-primary);
            text-align: center;
            text-wrap: nowrap;
            padding-left: 0.6em;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            //max-width: 50vw;

            > span {
                line-height: 1.1em;
                font-size: min(5.9363vw, 4.9rem);
                font-weight: 500;
                color: var(--color-about-secondary);
                //letter-spacing: 0.1em;

                &:hover {
                    @include crt-text;
                    color: var(--color-primary);
                }
            }

            > svg {
                color: var(--color-about-secondary);
                height: 100px;
                width: calc(100% / 11);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }

        > .technicolor {
            position: absolute;
            width: 25%;
            right: 0;
            bottom: -35px;
        }
    }

    > .footer {
        width: 90%;
        display: flex;

        > .planetContainer {
            position: relative;
            width: 55%;
            height: 180px;
            border: var(--border-half-width) solid var(--color-about-primary);

            > .corner {
                $size: 1.25rem;
                $offset: 0.55rem;

                position: absolute;
                width: $size;
                height: $size;

                &:nth-child(1) {
                    top: $offset;
                    left: $offset;
                }
                &:nth-child(2) {
                    top: $offset;
                    right: $offset;
                }
                &:nth-child(3) {
                    bottom: $offset;
                    right: $offset;
                }
                &:nth-child(4) {
                    bottom: $offset;
                    left: $offset;
                }
            }

            > .content {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                > .planet {
                    fill: none;
                    stroke-width: 1.8em;
                    height: 90px;
                    //visibility: hidden;
                    
                    &:nth-child(1) {
                        stroke: var(--color-about-primary);
                    }
                    
                    &:nth-child(2) {
                        stroke: var(--color-primary);
                    }
    
                    &:nth-child(3) {
                        stroke: var(--color-secondary);
                    }

                    &:global {
                        animation: shortGlitch 0.05s linear forwards;
                    }
                }
            }
        }
        
        > .draggablesContainer {
            position: relative;
            flex: 1;
            height: 180px;
            //background-color: red;

            > div {
                width: 100px;
                height: 100px;
                //background-color: blue;
            }
        }
    }
}

.sectionContent.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 1%;

    > .firstRow {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        > .left {
            flex: 45;
            width: 100px;
            object-fit: contain;
            padding-left: 1rem;
        }

        > .right {
            flex: 55;
            width: 100px;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: end;

            > div {
                width: 90%;
            }
        }
    }

    > .arts {
        width: 100%;

        .artContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: var(--color-about-secondary);
            gap: 2rem;
            justify-content: center;
            padding: 1.5rem 1rem;
        }
    }

    > .eva1 {
        width: 100%;
    }
}

.socialMediaButton {
    $border-radius: 0.75rem;

    display: flex;
    flex-direction: column;
    border: var(--border-quarter-width) solid var(--color-about-primary);
    border-radius: $border-radius;
    width: 7rem;

    > .iconContainer {
        background-color: var(--color-about-primary);
        width: 100%;
        height: 90px;
        padding: 1rem;
        border-top-left-radius: $border-radius * 0.6;
        border-top-right-radius: $border-radius * 0.6;

        svg {
            height: 100%;
            width: 100%;
            fill: var(--color-about-secondary);
        }
    }

    > .name {
        color: var(--color-about-primary);
        font-family: var(--font-fragment-mono);
        text-transform: uppercase;
        padding: 0.35rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;

        > span {
            font-size: 0.75rem;
        }

        > svg {
            flex-shrink: 0;
            animation: svgNeonFlicker 16s infinite;
            height: 1.5rem;
            fill: var(--color-primary);
            stroke: var(--color-about-primary);
            stroke-width: 1rem;
        }
    }
            
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) > .name > svg {
            animation-delay: #{-800 + (random(1600) / 100)}s;
        }
    }
}

.artSkill {
    display: flex;
    flex-direction: column;
    width: 11rem;
    z-index: 100;
    border: var(--border-quarter-width) solid var(--color-about-primary);

    > .nameContainer {
        color: var(--color-about-primary);

        > span {
            font-family: var(--font-fragment-mono);
            display: block;
            text-transform: uppercase;
            text-align: center;
            padding: 0.25em 0;
            font-weight: 800;
        }
    }

    > .iconContainer {
        background-color: var(--color-about-primary);
        height: 7rem;
        padding: 0.8rem;

        > svg {
            height: 100%;
            width: 100%;
        }
    }

    &:hover {
        > .nameContainer {
            > span {
                :global {
                    animation: shortGlitch 0.05s linear forwards;
                }

                color: var(--color-primary);
            }
        }

        svg {
            :global {
                animation: drawBorder 1.4s linear forwards;
            }

            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            color: var(--color-primary);
        }

        &:nth-child(3), &:nth-child(4) {
            svg {
                stroke-dasharray: 3600;
                stroke-dashoffset: 3600;
            }
        }
    }
}

@include when-tablet {
    .section.aboutMe {
        > .aracneIntro {
            > .portrait {
            }
        }

        > .wordTableWindow {
            width: 80%;
    
            .wordTableContainer {
                width: 90%;
            }
        }
    }
}

@keyframes svgNeonFlicker {
    0%, 31.69% {
        fill: var(--color-primary);
    }
    31.7%, 31.89% {
        fill: var(--color-secondary);
    }
    31.9%, 32.09% {
        fill: var(--color-primary);
    }
    32.1%, 32.19% {
        fill: var(--color-secondary);
    }
    32.2%, 32.39% {
        fill: var(--color-primary);
    }
    32.4%, 40.99% {
        fill: var(--color-secondary);
    }
    41%, 72.99% {
        fill: var(--color-primary);
    }
    73%, 73.49% {
        fill: var(--color-secondary);
    }
    73.5%, 100% {
        fill: var(--color-primary);
    }
}
