.section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.9rem;
    user-select: none;
    background-color: var(--color-about-secondary);
    color: var(--color-about-primary);

    .scrollbar {
        display: block;
        background-color: var(--color-about-primary);
        transition: padding 0.33s;
        padding: 0 0 0 var(--border-width);

        &:hover {
            .thumb {
                background-color: var(--color-primary);
                transition: background-color 1s;
            }
        }

        .thumb {
            background-color: var(--color-about-secondary);
            border-radius: 0;
        }
    }
}

.sectionContent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .bgGrid {
        position: absolute;
        opacity: 0.6;
        top: -15.5vw;
        width: 100%;
    }

    > :not(.bg) {
        position: relative;
        z-index: 10;
    }

    > .g2 {
        width: 100%;
        display: flex;
        flex-direction: column;

        > .left {
            flex: 1;
        }

        > .right {
            flex: 1;
        }
    }

    > .header {
        width: 100%;
        background-color: var(--color-about-secondary);
        
        > img {
            display: block;
            width: 100%;
        }
        
        > .tablet {
            display: none;
        }
    }

    .txtContainer {
        width: 100%;
        font-family: var(--font-fragment-mono);
        padding: 0 1.5em;

        strong {
            font-weight: unset;
            color: var(--color-primary);
        }
    }
}

@include when-tablet {
    .section {
        max-width: 75rem;
        font-size: 1rem;

        .scrollbar {
            padding: 0 1.98em;
            
            &:hover {
                padding: 0 var(--border-width);
            }
        }
    }
}

@include when-desktop {
    .sectionContent {
        > .g2 {
            flex-direction: row;
        }

        > .header {
            > .phone {
                display: none;
            }

            > .tablet {
                display: block;
            }
        }
    }
}

.sectionContent.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;

    > .aracneIntro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: -0.55rem;
        margin-bottom: 2rem;

        > .portrait {
            position: relative;
            aspect-ratio: 1 / 1;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            border: var(--border-width) solid var(--color-about-primary);
            overflow: hidden;

            &:hover, &:active {
                .alt:global {
                    animation: flicker-in 0.45s forwards;
                }
            }

            > .regular, .alt {
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }

            .alt {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

        > .sorry {
            width: 100%;
            padding: 0 0.5rem;
            max-width: 43.7rem;
            object-fit: contain;

            :global {
                animation: glitch-move-sometimes 24s infinite;
            }
        }
    }

    > .bio {
        width: 95%;
        gap: 1rem;

        > .left {
            order: 2;
            flex-shrink: 0;
        }

        > .right {
            order: 1;
            position: relative;
            background-size: cover;
            box-sizing: border-box;
            display: none;

            > img {
                position: absolute;
                height: calc(100% + 76px);
                left: 2rem;
                bottom: 0;
            }
        }
    }

    > .collage1 {
        width: 95%;
        gap: 1rem;

        > .left {
            flex: 1.25;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > .likes {
                display: none;
            }

            > .skillWindow {
                width: 100%;

                .featureContainer {
                    flex-wrap: wrap;
                }
            }

            > .socialMediaContainer {
                display: flex;
                width: 100%;
                gap: 1rem;
                align-items: start;

                > .skillWindow {
                    flex: 1;
                }

                .featureContainer {
                    flex-wrap: wrap;
                }

                .ornaments {                    
                    width: 100px;
                    height: 100%;
                    flex-shrink: 0;
                    display: none;
                    align-items: center;
                    margin-right: -0.5rem;

                    > img {
                        width: 100%;
                    }
                }
            }
        }

        > .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .contactMe {
                flex: 1;

                a {
                    width: 100%;
                    height: 100%;
                    min-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: var(--font-fragment-mono);
                    text-transform: uppercase;
                    font-size: 1.3em;

                    &:hover {
                        :global {
                            animation: glitch-move-sometimes 24s infinite;
                        }
                        color: white;

                        > span {
                            @include neon-glow-secondary;
                        }
                    }
                }
            }
            > .photo2 {
                //flex: 1;
                position: relative;
                background-size: cover;
                box-sizing: border-box;
                height: 600px;
                width: 100%;
                max-width: 500px;

                > svg {
                    position: absolute;
                    width: 60%;
                    bottom: 42%;
                    left: 10%;
                    fill: white;
                    @include neon-glow-primary(2rem);
                    
                    :global {
                        animation: almost-white 12s infinite;
                    }
                }
    
                > img {
                    position: absolute;
                    height: calc(100% + 56px);
                    max-width: 100%;
                    object-fit: contain;
                    object-position: center bottom;
                    right: -1rem;
                    bottom: 0;
                    pointer-events: none;
                }
            }
        }
    }

    > .damnYourEyes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;

        > .wordTableSuperContainer {
            width: 100%;
            aspect-ratio: 460 / 469;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .wordTableWindow {
            width: 100%;
            aspect-ratio: 460 / 469;

            .wordTableContainer {
                aspect-ratio: 460 / 469;
                width: 90%;
                z-index: 100;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                position: relative;
                //border: var(--border-width) solid var(--color-about-secondary);
        
                > div {
                    width: 100%;
                    height: 100%;
                    filter: brightness(0.6) sepia(100%) saturate(60%) hue-rotate(0deg);
                }
            }
        }
    }

    > .jpBigContainer {
        position: relative;
        width: 95%;
        border: var(--border-half-width) solid var(--color-about-primary);

        > .frame {
            width: 100%;
            border: var(--border-half-width) solid var(--color-about-secondary);
            background-color: var(--color-about-primary);
            text-align: center;
            text-wrap: nowrap;
            padding-left: 0.6em;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            //max-width: 50vw;

            > span {
                line-height: 1.1em;
                font-size: min(5.9363vw, 4.9rem);
                font-weight: 500;
                color: var(--color-about-secondary);
                //letter-spacing: 0.1em;

                &:hover {
                    @include crt-text;
                    color: var(--color-primary);
                }
            }

            > svg {
                padding: 0.5em 0;
                color: var(--color-about-secondary);
                width: calc(100% / 11);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
    
    > .footer {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        > .planetContainer {
            position: relative;
            height: 180px;
            max-width: 100%;
            border: var(--border-half-width) solid var(--color-about-primary);

            > .corner {
                $size: 1.25rem;
                $offset: 0.55rem;

                position: absolute;
                width: $size;
                height: $size;

                &:nth-child(1) {
                    top: $offset;
                    left: $offset;
                }
                &:nth-child(2) {
                    top: $offset;
                    right: $offset;
                }
                &:nth-child(3) {
                    bottom: $offset;
                    right: $offset;
                }
                &:nth-child(4) {
                    bottom: $offset;
                    left: $offset;
                }
            }

            > .content {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                > .planet {
                    fill: none;
                    stroke-width: 1.8em;
                    height: 90px;
                    max-width: 25%;
                    //visibility: hidden;
                    
                    &:nth-child(1) {
                        stroke: var(--color-about-primary);
                    }
                    
                    &:nth-child(2) {
                        stroke: var(--color-primary);
                    }
    
                    &:nth-child(3) {
                        stroke: var(--color-secondary);
                    }

                    &:global {
                        animation: shortGlitch 0.05s linear forwards;
                    }
                }
            }
        }
        
        > .ornaments {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: end;
            align-items: start;

            > img {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                max-width: 100%;
            }

            > a {
                position: relative;
                top: -0.3em;
                width: auto;
                font-family: var(--font-fragment-mono);
                font-size: 1.4em;

                strong {
                    @include crt-text-border;
                    color: var(--color-secondary);
                }

                &:hover {
                    strong {
                        @include neon-glow-secondary;
                        color: white;
                    }
                }
            }
        }
    }
}

@include when-tablet {
    .sectionContent.aboutMe {
        > .aracneIntro {
            > .portrait {
                width: 240px;
                height: 240px;
            }
        }

        > .collage1 {
            > .left {
                flex-direction: row;

                > .likes {
                    display: flex;
                }

                > .socialMediaContainer {
                    > .skillWindow {
                        height: 100%;

                        .featureContainer {
                            height: 100%;
                        }
                    }
                }
            }

            > .right {
                flex-direction: row;
            }
        }

        > .damnYourEyes {
            padding: 3rem 0;

            .wordTableWindow {
                width: 82.6%;
            }
        }
    }
}

@include when-desktop {
    .sectionContent.aboutMe {
        > .bio {
            > .right {
                display: block;
            }
        }

        > .collage1 {
            > .left {
                flex-direction: column;

                > .socialMediaContainer {
                    .ornaments {
                        display: flex;
                    }
                }
            }

            > .right {
                flex-direction: column;
                align-items: unset;
            }
        }

        > .footer {
            flex-direction: row;

            > .planetContainer {
                width: 55%;
            }

            > .ornaments {
                flex: 1;
                width: 55%;
            }
        }
    }
}

.sectionContent.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 20px;

    > .skillsText {
        gap: 1rem;

        > .left {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > img {
                display: none;

                &:hover {
                    filter: invert(1) drop-shadow(0 0 0.4rem var(--color-secondary));
                }
            }
        }

        > .right {
            display: none;
            position: relative;
            background-size: cover;
            
            > img {
                display: block;
                position: absolute;
                height: calc(100% + 60px);
                bottom: 0;
                right: 0;
            }
        }
    }

    > .artSkills {
        width: 100%;
    }

    > .videos {
        position: relative;
        width: 100%;

        > .left {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .vid {
                position: relative;
                z-index: 100;
                width: 95%;
            }
        }

        > .right {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            > .tripleWord {
                min-height: 55vw;
                width: 100%;
            }

            .vid {
                width: 95%;
            }

            > .sector07 {
                padding-top: 1rem;
                width: 80%;

                > img {
                    width: 100%;
                    opacity: 0.3;
                }
            }
        }
    }

    > .videoSkills {
        width: 100%;
    }

    > .minigame {
        height: 300px;
        width: 100%;
        background-color: #fce4f2;
    }

    > .devSkills {
        width: 100%;
    }

    > .logos {
        position: relative;
        width: 100%;
        height: 100vw;
        padding: .5rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--color-about-primary);
        justify-content: space-around;

        > .logo {
            width: 70%;

            position: absolute;

            &:nth-child(1) {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                margin: auto auto;
            }

            &:nth-child(3) {
                bottom: 0;
                right: 0;
            }
        }
    }

    > .designSkills {
        width: 100%;
    }

    > .photo1 {
        position: relative;
        overflow: hidden;

        > .left {
            > img {
                width: 100%;
            }
        }

        > .right {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            > div {
                width: 100%;
                mix-blend-mode: hard-light;
            }
        }
    }

    > .adSkills {
        width: 100%;
    }

    > .family {
        width: 120%;
        pointer-events: none;
    }

    > .readMeSkills {
        width: 100%;
    }

    > .footer {
        margin-top: -1rem;

        > .left {
            > img {
                width: 100%;
            }
        }

        > .right {
            position: absolute;
            width: 80%;
            right: 0;
            bottom: -20px;

            > img {
                display: block;
                width: 100%;
            }
        }
    }






    // <--------- OLD ---------->

    > .firstRow {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        > .left {
            flex: 45;
            width: 100px;
            object-fit: contain;
            padding-left: 1rem;
        }

        > .right {
            flex: 55;
            width: 100px;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: end;

            > div {
                width: 90%;
            }
        }
    }

    > .eva1 {
        width: 100%;
    }

    > .firstVidContainer {
        width: 100%;
        display: flex;
        flex-direction: row;

        > .vid {
            flex: 58;
        }

        > .image {
            flex: 42;
            background-color: var(--color-about-primary);
            display: flex;
            align-items: center;
            padding: var(--border-half-width);

            > img {
                width: 100%;
            }
        }
    }

    > .secondVidContainer {
        width: 100%;
        display: flex;
        flex-direction: row;

        > .vid {
            flex: 40;
        }
    }

    > .guapisima {
        width: 100%;
        display: flex;
        flex-direction: row;

        > .left {
            flex: 43;
            background-color: #FCE4F2;
        }

        > .right {
            aspect-ratio: 904 / 790;
            position: relative;
            flex: 57;
            background-size: contain;

            > img {
                display: block;
                position: absolute;
                width: 98%;
                bottom: -1px;
                right: 0px;
            }
        }
    }
}

@include when-tablet {
    .sectionContent.skills {
        > .videos {
            gap: 1rem;

            > .left {
                padding-left: 2.5%;

                .vid {
                    width: 70%;
                }
            }

            > .right {
                justify-content: end;
                align-items: end;

                > .tripleWord {
                    position: absolute;
                    width: 100%;
                    height: 150%;
                    min-height: unset;
                    bottom: 50%;
                    left: 0;
                }

                .vid {
                    position: relative;
                    z-index: 100;
                    width: 50%;
                    margin-right: 2.5%;
                }

                > .sector07 {
                    position: absolute;
                    width: 200px;
                    bottom: 0;
                    right: calc(50% + 40px);

                    > img {
                        opacity: 1;
                    }
                }
            }
        }

        > .logos {
            height: auto;

            > .logo {
                position: static;
                width: 30%;
            }
        }

        > .family {
            width: 100%;
            margin-top: -10%;
        }

        > .footer {
            margin: unset;

            > .right {
                bottom: -5rem;
            }
        }
    }
}

@include when-desktop {
    .sectionContent.skills {
        margin-bottom: 0;

        > .skillsText {
            > .left {
                flex: 43;
                padding-left: 2%;
                > img {
                    display: block;
                    width: 100%;
                }
            }
            > .right {
                flex: 57;
                display: block;
            }
        }

        > .artSkills {
            width: 85%;
        }

        > .videos {
            padding-left: 2%;
            gap: 0;

            > .left {
                padding-left: unset;

                .vid {
                    width: 100%;
                }
            }
            
            > .right {
                > .tripleWord {
                    height: calc(100% - 100px);
                    top: 0;
                }

                .vid {
                    width: 350px;
                    margin-right: 4%;
                }

                > .sector07 {
                    width: calc(100% - 388px);
                    left: 8px;
                    right: unset;
                }
            }
        }

        > .videoSkills {
            width: 85%;
        }

        > .devSkills {
            width: 85%;
        }

        > .designSkills {
            width: 85%;
        }

        > .photo1 {
            > .left {
                flex: 39.5;
            }
            > .right {
                flex: 60.5;
                position: static;
                transform: unset;
                margin-left: -6px;

                > div {
                    mix-blend-mode: hard-light;
                }
            }
        }

        > .adSkills {
            width: 85%;
        }

    
        > .family {
            width: 80%;
        }

        > .readMeSkills {
            width: 85%;
        }

        > .footer {
            align-items: end;
            margin-top: -4rem;
            > .left {
                flex: 52;
                padding-left: 8%;
            }

            > .right {
                flex: 48;
                position: unset;
                width: 100%;
            }
        }
    }
}

.sectionContent.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;

    > .hardware {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        > .left {

            > img {
                height: 100%;
            }
        }

        > .center {
            .content {
                display: flex;
                flex-direction: column;
                background-color: var(--color-about-secondary);
                padding: 1rem 0;
                gap: 1rem;

                > .hardware {
                    display: flex;
                    flex-direction: row;
                    height: 96px;
                    justify-content: space-around;

                    > .image {
                        position: relative;
                        height: 100%;
                        
                        > .bg {
                            position: absolute;
                            height: 80px;
                            width: 80px;
                            bottom: 0;
                            right: -25px;
                        }
                        
                        > .pic {
                            position: relative;
                            height: 90%;
                            padding-bottom: 8px;
                            z-index: 10;
                        }
                    }

                    > .name {
                        display: flex;
                        align-items: center;
                        color: var(--color-about-primary);
                        font-family: var(--font-invisible);
                        text-transform: uppercase;
                        font-size: 1.5rem;
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }

        > .right {
            display: flex;
            flex-direction: row;
            justify-content: center;
            //align-items: center;
            gap: 0.25rem;

            > img {
                height: 100%;
                width: unset !important;
                object-fit: contain;

                &:nth-child(1) {
                    height: calc(100% + 9px);
                }
                &:nth-child(2) {
                    height: calc(100% + 10px);
                }
            }
        }
    }

    > .softwareContainer {
        $aside-width: 192px;

        display: flex;
        flex-direction: row;
        //height: 1000px;
        width: 100%;

        > .left, > .right {
            width: $aside-width;
            background-size: contain;
        }

        > .left {
            display: none;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        > .center {
            flex: 1;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .winFrame {
                border: none;
            }

            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: var(--color-about-secondary);
            }
        }

        > .right {
            display: none;

            > img {
                height: 100%;
                width: 100%;
            }
        }
    }

    > .panicPhoto {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-position: 340px 0;
        background-size: 50%;

        > .photo {
            width: 100%;

            > img {
                width: 100%;
                display: block;
            }
        }

        > .panic {
            background-color: var(--color-about-primary);
            width: 100%;

            > img {
                width: 100%;
                display: block;
            }
        }
    }

    > .footer {
        width: 98%;
    }
}

.software {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;

    > .pic {
        width: 100%;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            height: 64px;
        }
    }

    > .info {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;

        > .txt {
            display: flex;
            flex-direction: column;
            color: var(--color-about-primary);
            padding: 0.5em;
            line-height: 1lh;

            > .title {
                font-family: var(--font-manjari);
                font-size: 1.5em;
                font-weight: bold;
                text-transform: uppercase;
            }

            > .desc {
                font-family: var(--font-manjari);
                font-weight: 400;
                line-height: 0.8lh;
            }
        }
    }

    > .lowerSection {
        background-color: var(--color-about-primary);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > .fakeControls {
            display: flex;
            justify-content: center;

            > img {
                width: 224px;
            }
        }

        > .xp {
            $border-radius: 6px;

            position: relative;
            width: 100%;
            height: 12px;
            background-color: var(--color-about-secondary);
            border-radius: $border-radius;

            > .fill {
                position: absolute;
                background-color: var(--color-secondary);
                height: 100%;
                border-radius: $border-radius;
                top: 0;
                left: 0;
            }

            > .thumb {
                position: absolute;
                top: 0;
                width: 24px;
                height: 12px;
                background-color: var(--color-about-secondary);
                border: 3px solid var(--color-about-primary);
                border-radius: calc($border-radius - 1px);
                //transform: translateX(calc(-100% + 1px));
            }
        }
    }
}

@include unless-desktop {
    .sectionContent.tools {
        > .hardware {
            > .left {
                height: calc(100vw - 1em);
                transform: rotateZ(90deg);
                margin-bottom: -53vw;
            }

            > .right {
                height: calc(100vw - 1em);
                transform: rotateZ(-90deg);
                margin-top: -32vw;
                margin-bottom: -35vw;
            }
        }
    }
}

@include when-tablet {
    .sectionContent.tools {
        > .hardware {
            > .left {
                height: calc(100vw - 4em);
            }

            > .center {
                margin: auto;
                width: 90%;

                .container {
                    gap: 1rem;
                    padding: 0.75rem;
                }

                .content {
                    > .hardware {
                        height: 168px;

                        > .image {
                            > .bg {
                                height: 120px;
                                width: 120px;
                            }
                        }

                        > .name {
                            font-size: 2rem;
                        }
                    }
                }
            }

            > .right {
                height: calc(100vw - 4em);
            }
        }

        > .softwareContainer {
            > .center {
                > div {
                    width: 90%;
                }

                .winFrame {
                    border: var(--border-half-width) solid var(--color-about-secondary);
                }

                .container {
                    padding: 1rem;
                    justify-content: center;
                    gap: 1rem;
                }
            }
        }

        > .panicPhoto {
            position: relative;
            > .panic {
                background-color: unset;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -70%;
                mix-blend-mode: difference;
            }
        }
    }

    .software {
        width: 340px;
        border: var(--border-quarter-width) solid var(--color-about-primary);
    }
}

@include when-desktop {
    .sectionContent.tools {
        margin-top: 1rem;

        > .hardware {
            flex-direction: row;
            gap: 1rem;

            > .left {
                flex: 1;
                padding-left: 1rem;
                height: 625px;
            }

            > .center {
                flex: 2;
                display: flex;
                align-items: center;
                width: unset;
                margin: unset;
            }

            > .right {
                flex: 1;
                padding-right: 1rem;
                height: 625px;

                > img {
                    transform: scale(0.97);
                }
            }
        }

        > .softwareContainer {
            > .left, > .right {
                display: block;
            }

            > .center {
                > div {
                    width: 100%;
                }
            }
        }

        > .panicPhoto {
            flex-direction: row;
            position: unset;
            justify-content: space-between;

            > .photo {
                width: 47%;
                object-fit: contain;

                > img {
                    height: 100%;
                }
            }

            > .panic {
                width: 40%;
                margin-top: unset;

                background-color: var(--color-about-primary);
                position: unset;
                mix-blend-mode: unset;
            }
        }
    }
}

.sectionContent.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
    width: 100vw;
    overflow-x: auto;
}

.sectionContent.education > .content {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .communication {
        position: relative;
        width: 95%;
        aspect-ratio: 1080 / 170;

        > div {
            width: 100%;
            aspect-ratio: 1080 / 100;
            position: absolute;
            left: 0;
            background-color: var(--color-about-secondary);

            > svg {
                margin-top: -5px;
            }

            &:nth-child(1) > svg, &:nth-child(2) > svg {
                fill: var(--color-about-primary);
            }

            &:nth-child(3) > svg {
                fill: var(--color-about-secondary);
                stroke-width: 1.5rem;
                stroke: var(--color-about-primary);
            }

            &:nth-child(1) {
                top: 0;
                z-index: 10;
            }

            &:nth-child(2) {
                top: 21%;
                z-index: 11;
            }

            &:nth-child(3) {
                top: 42%;
                z-index: 12;
            }
        }
    }

    > .ganesha {
        position: relative;
        width: 100%;
        aspect-ratio: 2212 / 628;
        background-size: contain;
        display: flex;
        margin-top: calc(70px - 4.3vw);
        z-index: 1000;

        > img {
            position: absolute;
            display: block;
            height: calc(100% + 80px);
            bottom: 4%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    > .credTree {
        $height-esdip: 180px;
        $height-esco: 220px;
        $height-colon: 180px;
        $height-trazos: 360px;
        $height-valley: 320px;
        $height-euroinnova: 280px;
        $height-domestika: 620px;
        $height-nuclio: 320px;
        $height-35mm: 240px;

        margin-top: -1px;
        width: 100%;
        overflow: hidden;

        > .credSection {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: stretch;
            align-items: stretch;

            > .left {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin-bottom: 80px;

                > .visuals {
                    width: 100%;
                    height: 500px;
                    padding: 1rem;

                    > img {
                        width: 100%;
                    }
                }

                > .esdipLogo {
                    height: $height-esdip;

                    > .content > img {
                        width: 60%;
                    }
                }

                > .escoDesc {
                    height: $height-esco;
                }

                > .colonLogo {
                    height: $height-colon;

                    > .content > img {
                        width: 90%;
                    }
                }

                > .trazosDesc {
                    height: $height-trazos;
                }

                > .valleyLogo {
                    height: $height-valley;

                    > .content {
                        > img {
                            margin-right: 5rem;
                            width: 50%;
                        }
                    }
                }

                > .euroinnovaDesc {
                    height: $height-euroinnova;
                }

                > .domestikaLogo {
                    height: $height-domestika;

                    > .content > img {
                        width: 90%;
                    }
                }

                > .nuclioDesc {
                    height: $height-nuclio;
                }

                > ._35mmLogo {
                    height: $height-35mm;

                    > .content > img {
                        width: 70%;
                    }
                }
            }

            > .treeRoot {
                width: 32px;
                background-color: var(--color-about-primary);
            }

            > .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                > .strategy {
                    width: 100%;
                    height: 500px;
                    padding: 1rem;

                    > img {
                        width: 100%;
                    }
                }

                > .esdipDesc {
                    height: $height-esdip;
                }

                > .escoLogo {
                    height: $height-esco;

                    img {
                        width: 70%;
                    }
                }

                > .colonDesc {
                    height: $height-colon;
                }

                > .trazosLogo {
                    height: $height-trazos;

                    img {
                        width: 80%;
                    }
                }

                > .valleyDesc {
                    height: $height-valley;
                }

                > .euroinnovaLogo {
                    height: $height-euroinnova;

                    img {
                        width: 75%;
                    }
                }

                > .domestikaDesc {
                    height: $height-domestika;
                }

                > .nuclioLogo {
                    height: $height-nuclio;

                    img {
                        width: 85%;
                    }
                }

                > ._35mmDesc {
                    height: $height-35mm;
                }
            }
        }

        > .destroy {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            
            > .word {
                margin-left: 20px;
                width: 186px;
            }

            > .web {
                position: absolute;
                width: 100%;
                top: -80px;
                left: 0;
            }

            > .perlin {
                position: absolute;
                width: 100%;
                top: -80px;
                left: 0;
            }
        }
    }

    > .footer {
        margin-top: 1rem;
        width: 95%;
    }
}

@include when-tablet {
    .sectionContent.education {

    }
}

.branch {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 1px solid red;

    > .content {
        flex: 1;

        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        justify-content: center;
        overflow: hidden;

        &.desc {
            line-height: 1lh;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            .date {
                font-family: var(--font-invisible);
                font-size: 2em;
            }

            .body {
                font-family: var(--font-fragment-mono);
                font-size: 1.25em;
            }
        }
    }

    > .branchImgContainer {
        width: 100%;
        display: flex;
        fill: var(--color-about-primary);

        .branch0 {
            width: 88%;
            padding-bottom: 10px;
        }

        .branch1 {
            width: 85%;
        }

        .branch2 {
            width: 60%;
        }

        .branch3 {
            width: 95%;
            padding-bottom: 9px;
        }

        .branch4 {
            width: 80%;
        }

        .branch5 {
            width: 80%;
        }

        .branch6 {
            width: 90%;
        }

        .branch7 {
            width: 70%;
        }

        .branch8 {
            width: 72%;
            margin-right: -8px;
            transform: translateY(15px);
        }

        .branch9 {
            width: 87%;
        }

        .branch10 {
            width: 80%;
            padding-bottom: 8px;
        }

        .branch11 {
            width: 80%;
        }

        .branch12 {
            width: 90%;
            margin-right: -9px;
            padding-bottom: 2px;
        }

        .branch13 {
            width: 60%;
            margin-left: 9px;
        }

        .branch14 {
            width: 88%;
        }

        .branch15 {
            width: 86%;
        }
    }
}

@include when-tablet {
    .sectionContent.education {
        width: 100%;

        > .ganesha {
            margin-top: unset;
        }
    }
}

.sectionContent.experience {
    width: 100%;

    > .trajectoryContainer {
        position: relative;
        width: 100%;
        height: calc(100vh - 220px);

        > .impossibleContainer {
            width: 100%;

            > svg {
                margin: -8px 0;

                &:nth-child(odd) {
                    fill: var(--color-about-primary);
                }

                &:nth-child(even) {
                    fill: none;
                    stroke: var(--color-about-primary);
                    stroke-width: 0.2rem;
                }
            }
        }

        > .border {
            width: 100%;
        }

        > .trajectoryWindow {
            position: absolute;
            width: 100%;
            height: calc(100vh - 220px);
            top: 0;
            left: 0;

            .trajectoryFrame {
                background-color: var(--color-about-secondary);
                //background-color: #ddd;
                overflow: hidden;

                > .trajectoryFrame2 {
                    cursor: move;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    > .trajectory {
                        position: relative;
                        height: calc(150% + 2rem);
                        padding: 2rem;
                    }
                }
            }
        }
    }
}

@include when-tablet {
    .sectionContent.experience {
        padding-top: 1.5rem;

        > .trajectoryContainer {
            height: unset;

            > .trajectoryWindow {
                width: calc(100% - 17.5vw);
                height: min(800px, 90vh);
                top: unset;
                left: min(110px, 9vw);
                bottom: min(125px, 10.2vw);
            }
        }
    }
}

@include when-desktop {
    .sectionContent.experience {
        padding-top: 0;
        
        > .trajectoryContainer {

            > .trajectoryWindow {
                width: calc(100% - 220px);
                bottom: 125px;
                left: 110px;
            }
        }
    }
}

.featureCell {
    $border-radius: 0.75rem;

    position: relative;
    display: flex;
    flex-direction: column;
    border: var(--border-quarter-width) solid var(--color-about-primary);
    border-radius: $border-radius;
    width: 7.7rem;

    > .iconContainer {
        background-color: var(--color-about-primary);
        width: 100%;
        height: 90px;
        padding: 1rem;
        border-top-left-radius: $border-radius * 0.6;
        border-top-right-radius: $border-radius * 0.6;

        svg {
            height: 100%;
            width: 100%;
            fill: var(--color-about-secondary);
        }
    }

    > .name {
        height: 100%;
        color: var(--color-about-primary);
        font-family: var(--font-fragment-mono);
        background-color: var(--color-about-secondary);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        text-transform: uppercase;
        padding: 0.35rem 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        > span {
            font-size: 0.75rem;
        }

        > svg {
            flex-shrink: 0;
            animation: svgNeonFlicker 16s infinite;
            height: 1.5rem;
            fill: var(--color-primary);
            stroke: var(--color-about-primary);
            stroke-width: 1rem;
        }
    }

    > .bloodyBorder {
        fill: var(--color-about-secondary);
        stroke: var(--color-about-primary);
        stroke-width: 1.2rem;
        position: absolute;
        bottom: -18px;
        right: 7px;
        width: 28px;
    }
            
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) > .name > svg {
            animation-delay: #{-800 + (random(1600) / 100)}s;
        }
    }

    &:hover {
        animation: hangLoose 0.8s forwards;
    }
}

.skillWindow {
    width: 100%;

    .artContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--color-about-secondary);
        justify-content: center;
        gap: 1px;
    }

    .featureContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: var(--color-about-secondary);
        gap: 1rem;
        justify-content: center;
        padding: 0.5rem 0.5rem;
    }
}

.artSkill {
    display: flex;
    flex-direction: column;
    z-index: 100;
    border: var(--border-quarter-width) solid var(--color-about-primary);
    width: calc(50% - 1px);

    > .nameContainer {
        color: var(--color-about-primary);
        height: 2lh;
        display: flex;
        justify-content: center;
        align-items: center;

        > span {
            font-family: var(--font-fragment-mono);
            display: block;
            text-transform: uppercase;
            text-align: center;
            padding: 0.25em 0;
            font-weight: 800;
        }
    }

    > .iconContainer {
        background-color: var(--color-about-primary);
        height: 7rem;
        padding: 0.8rem;

        > svg {
            height: 100%;
            width: 100%;
            stroke: var(--color-about-secondary);
        }
    }

    &:hover {
        > .nameContainer {
            > span {
                :global {
                    animation: shortGlitch 0.05s linear forwards, text-shadow-border 1.6s infinite;
                }

                color: var(--color-primary);
            }
        }

        svg {
            :global {
                animation: drawBorder 1.4s linear forwards;
            }

            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            //color: var(--color-primary);
            //stroke: var(--color-primary);
            color: white;
            stroke: white;
            @include neon-glow-primary;
        }
    }

    &.comicArtist, &.tattooDesign {
        &:hover svg {
            stroke-dasharray: 3600;
            stroke-dashoffset: 3600;
        }
    }

    &.videoCreator {
        > .iconContainer {
            padding: 1.5rem;

            > svg {
                stroke-width: 0.65rem;
            }
        }

        &:hover svg {
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
        }
    }

    &.videoEditor {
        > .iconContainer {
            > svg {
                stroke-width: 0.65rem;
            }
        }

        &:hover svg {
            stroke-dasharray: 4000;
            stroke-dashoffset: 4000;
        }
    }

    &._2dAnimation {
        > .iconContainer {
            > svg {
                stroke-width: 0.65rem;

                path:not(:nth-child(4)), circle {
                    //fill: var(--color-about-secondary);
                }
            }
        }

        &:hover svg {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;

            path:not(:nth-child(4)), circle {
                //fill: var(--color-primary);
            }
        }
    }
}

.tripleWord {
    position: relative;
    flex: 60;
    display: flex;
    align-items: center;
    padding: var(--border-half-width);

    > img {
        width: 100%;
    }

    > .word1, > .word2, > .word3 {
        width: 100%;
        position: absolute;
        left: 0;
    }

    > .word1 {
        stroke: none;
        fill: var(--color-about-primary);
    }

    > .word2, > .word3 {
        stroke: var(--color-about-primary);
        stroke-width: 2rem;
        fill: var(--color-about-secondary);
    }
    
    > .word1 {
        //opacity: 0.4;
        top: 0%;
        z-index: 1;
    }
    
    > .word2 {
        //opacity: 0.7;
        top: 25%;
        z-index: 2;
    }
    
    > .word3 {
        top: 50%;
        z-index: 3;
    }
}

@include when-tablet {
    .skillWindow {
        .artContainer {
            gap: 1rem;
            padding: 0.5rem;
        }
    }

    .artSkill {
        width: 10rem;
    }
}

@include when-desktop {
    .skillWindow {
        .artContainer {
            gap: 2rem;
            padding: 1.5rem 1rem;
        }
    }
}

@keyframes svgNeonFlicker {
    0%, 31.69% {
        fill: var(--color-primary);
    }
    31.7%, 31.89% {
        fill: var(--color-secondary);
    }
    31.9%, 32.09% {
        fill: var(--color-primary);
    }
    32.1%, 32.19% {
        fill: var(--color-secondary);
    }
    32.2%, 32.39% {
        fill: var(--color-primary);
    }
    32.4%, 40.99% {
        fill: var(--color-secondary);
    }
    41%, 72.99% {
        fill: var(--color-primary);
    }
    73%, 73.49% {
        fill: var(--color-secondary);
    }
    73.5%, 100% {
        fill: var(--color-primary);
    }
}

@keyframes hangLoose {
    0% {
        transform-origin: top left;
        transform: rotateZ(0deg);
    }
    30% {
        transform: rotateZ(12deg);
    }
    100% {
        transform-origin: top left;
        transform: rotateZ(6deg);
    }
}