.window {
    $border-width: 0.35rem;

    width: calc(100% - 1rem);
    background-color: var(--color-about-primary);
    color: var(--color-about-secondary);
    display: flex;
    flex-direction: column;

    > .header {
        @include crt-text-light;
        display: flex;
        align-items: center;
        padding: $border-width $border-width;
        user-select: none;
        
        > .title {
            flex: 1;
            font-family: var(--font-fragment-mono);
            text-transform: uppercase;
            padding-left: 1em;
            font-size: 1.2rem;

            :global {
                animation: glitch-move-sometimes 24s infinite;
            }
        }

        > .ribbon {
            display: flex;
            gap: $border-width;
            height: 1.75rem;

            > div {
                background-color: var(--color-about-secondary);
                color: var(--color-about-primary);
                width: 1.5rem;
                padding: 0.25rem;

                > svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    > .content {
        padding: calc(var(--border-width) / 2);
        width: 100%;
        flex: 1;
        overflow: hidden;

        > .contentFrame {
            position: relative;
            border: var(--border-half-width) solid var(--color-about-secondary);
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}
