.page {
  height: 100%;
  overflow: hidden;
  position: relative;

  width: 100dvw;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: black;

  > .lyricsContainer {
    position: relative;

    overflow: hidden;
    display: flex;

    > .musicVideo {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > .lyrics {
      position: relative;
      z-index: 1;
    }
  }

  @include desktop {
    display: grid;
    grid-template: "col nav" auto
                   "col lyr" 1fr
                   "pla pla" auto / auto 1fr;

    > .nav {
      grid-area: nav;
    }

    > .collection {
      grid-area: col;
    }

    > .lyricsContainer {
      grid-area: lyr;
    }

    > .player {
      grid-area: pla;
    }
  }
}
