.entry {
    position: relative;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem 1rem;
    font-size: 1rem;
    user-select: text;
    padding-bottom: 0px;

    > .header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        > .pic {
            height: 128px;
            border-radius: 50%;
            border: var(--border-half-width) solid var(--color-secondary);
        }

        > .data {

            display: flex;
            flex-direction: column;
            text-align: center;

            > .title {
                margin: 0;
                font-family: var(--font-wonder-night);
                font-weight: 400;
                font-size: 3em;
                line-height: 0.875em;
                color: var(--color-highlight1);
            }

            > .date {
                font-family: var(--font-amatic-sc);
                font-size: 2em;
                color: var(--color-highlight2);
            }
        }
    }

    > .body {
        //@include crt-text;
        //@include crt-text-border;

        font-family: var(--font-fragment-mono);

        h1 {
            color: var(--color-highlight2);
        }

        h2 {
            color: var(--color-highlight2);
        }

        h3 {
            color: var(--color-highlight1);
        }

        strong {
            font-weight: unset;
            color: var(--color-highlight1);
        }
    }

    *::selection {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
}

@include when-tablet {
    .entry {
        padding: 1rem 4rem;
        padding-bottom: calc(var(--navigator-height) + 3rem);

        > .header {
            flex-direction: row;

            > .data {
                text-align: start;

                > .title {
                    font-size: 5em;
                }

                > .date {
                    font-size: 2.2em;
                }
            }
        }
    }
}