.page {
  @include crt(1000100);

  --col-pink: var(--color-music-os-pink);
  --col-purple: var(--color-music-os-purple);
  --col-yellow: var(--color-music-os-yellow);
  --col-wallpaper: var(--color-music-os-purple);
  --col-purple-text: white;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &[data-leak-mode=true] {
    --col-pink: var(--color-music-os-yellow);
    --col-purple: var(--color-music-os-yellow);
    --col-yellow: var(--color-music-os-purple);
    --col-purple-text: black;
  }

  > .load {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    background-color: black;
  }

  > .desktop {
    flex: 1;
    
    position: relative;

    > .bg {
      position: absolute;
      inset: 0;
      margin: auto;
      translate: 0px -48px;

      background-color: var(--col-purple);

      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      
      max-width: 80%;
      max-height: 60%;
      aspect-ratio: 256 / 118;
      image-rendering: crisp-edges;
      display: inline-block;
    }
  }

  > .taskbar {
    height: 56px;
  }
}
