.chromaticAberration {
    --horiz-flicker: 2px;
    --vert-flicker: 0px;
    --duration: 1;
    --opacity: 0.5;

    position: relative;

    .sentinel {
        visibility: hidden;
    }

    img {
        display: block;
    }

    img:not(.sentinel), svg:not(.sentinel) {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    img, svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .aber1 {
        filter: sepia(100%) saturate(1000%) brightness(80%) hue-rotate(295deg);
        opacity: var(--opacity);
        animation: aberration calc(5.1s * var(--duration)) infinite;
    }

    .aber2 {
        filter: sepia(100%) saturate(1000%) brightness(80%) hue-rotate(190deg);
        opacity: var(--opacity);
        animation: aberration calc(3.8s * var(--duration)) infinite;
        animation-delay: 0.6s;
    }

    .top {
        opacity: 0.99;
    }
}

@keyframes aberration {
    $horiz: var(--horiz-flicker);
    $vert: var(--vert-flicker);

    0% {
        transform: translateX(calc($horiz * 1)) translateY(calc($vert * 1));
    }
    10% {
        transform: translateX(calc($horiz * 0.4)) translateY(calc($vert * 0.4));
    }
    20% {
        transform: translateX(calc($horiz * -0.8)) translateY(calc($vert * -0.8));
    }
    30% {
        transform: translateX(calc($horiz * 1)) translateY(calc($vert * 1));
    }
    40% {
        transform: translateX(calc($horiz * 0.6)) translateY(calc($vert * 0.6));
    }
    50% {
        transform: translateX(calc($horiz * 0.2)) translateY(calc($vert * 0.2));
    }
    60% {
        transform: translateX(calc($horiz * -1)) translateY(calc($vert * -1));
    }
    70% {
        transform: translateX(calc($horiz * -0.6)) translateY(calc($vert * -0.6));
    }
    80% {
        transform: translateX(calc($horiz * 0)) translateY(calc($vert * 0));
    }
    90% {
        transform: translateX(calc($horiz * -0.4)) translateY(calc($vert * -0.4));
    }
    100% {
        transform: translateX(calc($horiz * 0.4)) translateY(calc($vert * 0.4));
    }
}
