.header {
    width: 100%;
    max-height: 100%;
    background: black;
    border-bottom: 0.5rem solid white;
    position: relative;
    height: 9vw;

    display: flex;
    flex-direction: row;
    padding: 0 3vw;
    z-index: 1000;

    .planet {
        height: 120%;
        margin-right: -1.5vw;
    }

    .lettering {
        margin-top: 2rem;
        height: 9.1vw;
    }
}