@import "fonts.scss";
@import "mantine.scss";

:root {
    --color-primary-l1: #ff33ae;
    --color-primary: #ff009a;
    --color-primary-d1: #be0071;

    --color-secondary-l1: #33ffff;
    --color-secondary: #00ffff;
    --color-secondary-d1: #00cccc;

    --color-translucid: #ffffffb2;
    --color-translucid-contrast: #63605b;
    
    --color-navigator: white;
    --color-navigator-text: #303030;

    --color-os-primary-l3: #d9d9d9;
    --color-os-primary-l2: #c3c7c7;
    --color-os-primary-l1: #a09fa1;
    --color-os-primary: #707373;
    --color-os-primary-d1: #63605b;
    --color-os-text-dark: #444;

    --min-desktop: 50rem;

    --background: var(--color-primary);

    --navigator-height: 7vw;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #030303;
    color: white;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@include when-desktop {
    body {
        
    }
}