.content {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-music-os-purple);

  > .img {
    --tint: var(--col-pink);

    position: absolute;

    height: 400px;
    aspect-ratio: 1 / 1;
    //max-height: 400px;
    inset: 0;
    margin: auto;
  }

  > .message {
    position: relative;
    z-index: 10;

    width: 576px;
    flex-shrink: 0;

    color: white;
    font-family: var(--font-pixel-game);
    font-size: 60pt;

    text-align: center;
    line-height: 1em;

    paint-order: stroke fill;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: var(--color-music-os-purple);
  }
}
