.page {
    $curtain-height: 6.57vw;

    @include as-viewport;
    
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    user-select: none;

    .headerContainer {
        flex-shrink: 0;
    }

    .content {
        width: 100%;
        flex: 1;

        :not(.curtainTop) {
            z-index: 1;
        }

        .wordTable {
            margin-top: calc($curtain-height * 0.7);
        }
    }

    .curtainTop {
        position: absolute;
        height: $curtain-height;
    }

    .aboutMeCard {
        font-size: 1vw;
        z-index: 10000;
        position: absolute;
        top: -1vw;
        left: 50%;
        transform: translate(-50%, 0%);
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;

        .portrait {
            $size: 12.5vw;
            width: $size;
            height: $size;
            border: 0.5rem solid white;
            border-radius: 50%;
        }

        .msg0 {
            font-family: var(--font-wonder-night);
            color: white;
            font-size: 3.5em;
            height: 0.8em;
            line-height: 0.8em;
        }

        .msg1 {
            font-family: var(--font-creepster);
            color: var(--color-secondary);
            font-size: 2em;
            height: 1.3em;
            line-height: 1em;
        }

        .social {
            background-color: var(--color-translucid);
            border-radius: 0.75em;
            border-bottom-right-radius: 0;
            height: 2.5em;
            padding: 0.5em 3em;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: center;
            justify-content: center;

            .icon {
                cursor: pointer;
                
                max-height: 100%;
                font-size: 1rem;
            }
        }
    }
}