.word {
    position: absolute;
    //border: 1px solid red;
    overflow: hidden;

    .textContainer {
        display: block;
        width: 100%;
        overflow-y: visible;

        .text.hidden {
            padding: 0 0.5em;
        }
    }
}

@keyframes blink-caret {
    from, to {
        color: var(--color-primary);
    }
    50% {
        color: transparent;
    }
}

@include when-desktop {
    .word .textContainer .text.hidden {
        padding: 0 0em;
    }
}